<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://avatars.githubusercontent.com/u/19946928?s=400&u=15e6f45f1a04607b9f9931c7ff09cf742908fc78&v=4">
    </div>
    
    {{>footer}}
</body>

</html>